[Desktop Entry]
Name=Rofi SSH user
Exec=rofi-ssh-user
Icon=network-server
Type=Application
Categories=Utility
X-KDE-StartupNotify=false
StartupNotify=false
