[Desktop Entry]
Name=Rofi SSH user
Exec=/opt/rofi-ssh-user/rofi-ssh-user
Icon=network-server
Type=Application
Categories=Utility
X-KDE-StartupNotify=false
StartupNotify=false
